.container {
  padding: 0% !important;
  width: 100% !important;
  max-width: 1920px !important;
  background: #e3e4e6;
}

/* nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: blue;
  color: white;
}


.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
} */